<!doctype html>
<html>

<head>
  <meta charset="utf-8">
  <title>Reward System</title>
  <base href="/">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.0/css/bootstrap.min.css" integrity="sha384-9gVQ4dYFwwWSjIDZnLEWnxCjeSWFphJiwGPXr1jddIhOegiu1FwO5qRGvFXOdJZ4" crossorigin="anonymous">
  <link rel="stylesheet" href="stylesheets/style.css">

  <link href="https://fonts.googleapis.com/css?family=Montserrat:400,700" rel="stylesheet" type="text/css" />
  <link href="https://fonts.googleapis.com/css?family=Droid+Serif:400,700,400italic,700italic" rel="stylesheet" type="text/css" />
  <link href="https://fonts.googleapis.com/css?family=Roboto+Slab:400,100,300,700" rel="stylesheet" type="text/css" />
  <link href="css/styles.css" rel="stylesheet" />
  <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>

</head>

<body>
  <div id="headers">
    <nav class="navbar navbar-expand-lg navbar-dark fixed-top" id="mainNav" style="background-color:#212529";>
      <div class="container">
          <a class="navbar-brand js-scroll-trigger" href="/">GYReward</a>
          <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse"  aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
              Menu
              <i class="fas fa-bars ml-1"></i>
          </button>
          <div id="navHead1" style="display:block;">
          </div>
          <div id="navHead2" style="display:none;">
            <div class="collapse navbar-collapse" id="navbarResponsive">
              <ul class="navbar-nav text-uppercase ml-auto">
                <li class="nav-item"><a class="nav-link js-scroll-trigger" href="/adminLogin">Log Out</a></li>
              </ul>
            </div>
          </div>
        </div>
      </nav>
  </div>

  <div id="loader" style="display:none;">
    <div class="spinner-grow" style="width: 5rem; height: 5rem;" role="status">
      <span class="sr-only">Loading...</span>
    </div>
  </div>

<div id="adminPanel">
    
    <div  class="bg-light1" style="display:block;" id="adminLoginSectionOrg">
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <div class="container">
        <div class="row">
          <div class="col-md-3 order-md-1"> 
          </div>
          <div class="col-md-6 order-md-2">
            <div class="jumbotron" style="display:block; background-color: #112233a1;">
                    <div class="container" >
                      <h2 style="color:white;">Admin Sign In</h2>
                      <br>
                      <div class="card-id">
                        <p style="color:white;"> Enter Access Admin ID
                          <input class="form-control" name="cardid" v-model="cardid">
                        </p>
                      </div>
                       <div class="account-number">
                        <p style="color:white;"> Enter Admin password 
                          <input type="password" class="form-control" name="password" v-model="password">
                        </p>
                        </div>
                        <button class="btn btn-primary" v-on:click="orgLogin">SIGN IN</button>
                      </div>
              </div>
            </div>
          </div>
          <div class="col-md-3 order-md-1"> 
          </div>
          <hr class="featurette-divider">
          <br>
      <br>
      <br>
      <br>
      <br>
      <br>
      </div>
    </div>

    <div class="bg-light" style="display:none;" id="adminPage">
      <div class="jumbotron" id="headSection"  >
        <div class="container">
                <div style="padding-right: 20px">
                  <h2>Name : {{ cardid }}</h2>
                  <div class="earnPartnerId">
                    <p> <b>Choose Store Name to See the Result: </b></p>
                  </div>
                  <div class="row">
                    <div class="col-md-3">
                        <p>
                        <select v-model="selectedOrgEarn" class="form-control">
                          <option v-for="(item, key) in partnersData" :value="item">
                            {{ item.name }}
                          </option>
                        </select>
                      </p>
                    </div>
                    <div class="col-md-1">
                        <button id="search" @click="findDetailsOfOrg(selectedOrgEarn,$event)"
                        class="btn btn-primary">Submit</button>
                    </div>
                    <div class="col-md-3">
                        <button id="clearData" @click="clearData"
                        class="btn btn-primary">Clear Data</button>
                    </div>
                    <div class="col-md-3"></div>
                </div>
        </div>
        </div>
      </div>
      <div id="transactionSection" >
        <div class="container">

          <div class="row">
            <div class="col-md-12 ">
            <ul class="nav nav-tabs nav-fill" id="myTab" role="tablist">
              <li class="nav-item tab-width">
                <a class="nav-link active" id="dashboard-tab" data-toggle="tab" href="#dashboard" role="tab" aria-controls="earn" aria-selected="true">Dashboard</a>
              </li>
              <li class="nav-item ">
                <a class="nav-link" id="points-allocated-tab" data-toggle="tab" href="#points-allocated" role="tab" aria-controls="points-allocated" aria-selected="true">Points Allocated</a>
              </li>
              <li class="nav-item ">
                <a class="nav-link" id="points-redeemed-tab" data-toggle="tab" href="#points-redeemed" role="tab" aria-controls="points-redeemed" aria-selected="false">Points Redeemed</a>
              </li>
            </ul>
            </div>
          </div>

          <div class="row">
            <div class="col-md-12">
              <div class="tab-content" id="myTabContent">
                
                <div class="tab-pane fade show active" id="dashboard" role="tabpanel" aria-labelledby="dashboard-tab">
                  <br>
                  <h3>Points Usage</h3>
                  <div class="dashboards">
                    <h3>Total Points Allocated to Organization: {{ pointsGivenToCustomer }}</h3>
                    <h3>Total Point Redeemed by Customer throw Organization: {{ pointsCollected }}</h3>
                  </div>
                </div>
                
                <div class="tab-pane fade" id="points-allocated" role="tabpanel" aria-labelledby="points-allocated-tab">
                    <br>
                    <h4>Transactions History of Points Earned by Customer</h4>
                    <br>
                    <div class="points-allocated-transactions">
                      <table class="table">
                        <thead class="thead-dark">
                          <tr>
                            <th scope="col">Index</th>
                            <th scope="col">Transaction Detail</th>
                            <th scope="col">Allocated Points</th>
                          </tr>
                        </thead>
                        <tbody>
                          <tr v-for="(item,key) in earnPointsResult" :key="item.transactionId">
                            <td>{{ key }}</td>
                            <td>
                              Customer ID: {{ item.member }}<br>
                              Date & Time: {{ item.timestamp }}<br>
                              Transaction Id: {{ item.transactionId }}
                            </td>
                            <td>{{ item.points }}</td>
                          </tr>
                        </tbody>
                      </table>
                    </div>
                    <br><br>
                </div>
                
                <div class="tab-pane fade " id="points-redeemed" role="tabpanel" aria-labelledby="points-redeemed-tab">
                    <br>
                    <h4>Transactions History of Points Redeemed by Customer</h4>
                    <br>
                    <div class="points-redeemed-transactions"> 
                      <table class="table">
                        <thead class="thead-dark">
                          <tr>
                            <th scope="col">Index</th>
                            <th scope="col">Transaction Detail</th>
                            <th scope="col">Allocated Points</th>
                          </tr>
                        </thead>
                        <tbody>
                          <tr v-for="(item,key) in usePointsResults" :key="item.transactionId">
                            <td>{{ key }}</td>
                            <td>
                              Customer ID: {{ item.member }}<br>
                              Date & Time: {{ item.timestamp }}<br>
                              Transaction Id: {{ item.transactionId }}
                            </td>
                            <td>{{ item.points }}</td>
                          </tr>
                        </tbody>
                      </table>
                    </div>
                    <br><br>
                </div>
                    

              </div>
            </div>
          </div>

          

        </div>
      </div> 
    </div>

</div>



  <script type="module">
    new Vue({
      el: '#adminPanel',
      data: {
        cardid: '',
        accountnumber: '',
        usePointsResults: [],
        earnPointsResult: [],
        pointsCollected: 0,
        pointsGivenToCustomer: 0,
        isAuthenticated: false,
        password: '',
        partnersData: [],
        selectedOrgEarn: '',
      },
      watch: {
        isAuthenticated(){
            document.getElementById('adminLoginSectionOrg').style.display = 'none';
            document.getElementById('adminPage').style.display = 'block';
            document.getElementById('navHead1').style.display = 'none';
            document.getElementById('navHead2').style.display = 'block';
        }
      },
      methods: {
        orgLogin:  function () {
          if(this.password != null  && this.cardid != null )
          {
            this.loaderEnable();
            fetch(`/api/adminLogin`, {
                    method: 'POST',
                    body: JSON.stringify ({
                        cardid: this.cardid,
                        password: this.password
                    }),
                    headers: {
                        "Content-Type": "application/json"
                    }
                })
                .then(resp => {
                    if (!resp.ok) throw resp.text().then(err => err);
                    return resp.json();
                })
                .then(result => {
                    if(result.partnersData!=null && result!= null && result.partnersData!=undefined) 
                    {
                        this.isAuthenticated = true;
                        this.partnersData = result.partnersData;
                        this.loaderDisable();
                    }
                    else{
                        this.loaderDisable();
                        this.isAuthenticated = false;
                        alert("Please Enter Correct Id and Password")
                        window.location = `/adminLogin`;
                    }
                })
                .finally(() =>{
                    this.loaderDisable();
                })
            }
            else {
                alert("Please Enter Valid ID and Password");
            }
        },
        findDetailsOfOrg: function (selectedOrgEarn,$event) {
            let orgID = selectedOrgEarn.id;
            if(orgID!=null &&  this.cardid != null)
            {
            this.loaderEnable();
            fetch(`/api/partnerData`, {
                    method: 'POST',
                    body: JSON.stringify ({
                        cardid: this.cardid,
                        partnerId: orgID,
                    }),
                    headers: {
                        "Content-Type": "application/json"
                    }
                })
                .then(resp => {
                    if (!resp.ok) throw resp.text().then(err => err);
                    return resp.json();
                })
                .then(result => {
                    if(result!= undefined && result.id!=undefined && result!=null)
                    {
                      this.isAuthenticated = true;
                      this.usePointsResults = result.usePointsResults;
                      this.earnPointsResult = result.earnPointsResults;
                      this.pointsCollected = result.pointsCollected;
                      this.pointsGivenToCustomer = result.pointsGiven;
                    }
                    else {
                      
                      alert("Please Select org name")
                    }
                })
                .catch(errMessage => {
                    this.org.cardid = '';
                    this.org.accountnumber = '';
                    alert("Your Card ID or PIN Number is Wrong");
                    console.log("Error"+errMessage);
                })
                .finally(()=> {
                  this.loaderDisable();
                })
          }
          else {
            this.loaderDisable();
            alert("Please Enter Valid Card Id and PIN")
          }    
        },
        loaderEnable: function() {
          document.getElementById('loader').style.display = 'block';
        },
        loaderDisable: function() {
          document.getElementById('loader').style.display = 'none';
        },
        clearData: function() {
            this.loaderEnable();
            this.usePointsResults = [];
            this.earnPointsResult = [];
            this.pointsCollected = 0;
            this.pointsGivenToCustomer = 0;
            this.loaderDisable();
        }
      }

    })
  </script>
 
</body>

</html>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/js/bootstrap.bundle.min.js"></script>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.0/umd/popper.min.js" integrity="sha384-cs/chFZiN24E4KMATLdqdvsezGxaGsi4hLGOzlXwp5UZB1LY//20VyM2taTB4QvJ" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.0/js/bootstrap.min.js" integrity="sha384-uefMccjFJAIv6A+rW+L4AHf99KvxDjWSu1z9VI8SKNVmz4sk7buKt/6v9KI65qnm" crossorigin="anonymous"></script>

