<footer class="page-footer font-small bg-dark text-white pt-4">
    <div class="container">
      <ul class="list-unstyled list-inline text-center py-2">
        <li class="list-inline-item">
          <h5 class="mb-1">Register for free</h5>
        </li>
        <li class="list-inline-item">
          <a href="/registerMember" class="btn btn-rounded text-warning btn-outline-light">Sign up Now!</a>
      </ul>
    </div>
    <div class="footer-copyright text-center py-3">© 2020 Reward Organization:
      <a href="https://mdbootstrap.com/"> LCreward@gmail.com</a>
    </div>
  </footer>