<!doctype html>
<html>

<head>
  <meta charset="utf-8">
  <title>Reward System</title>
  <base href="/">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.0/css/bootstrap.min.css" integrity="sha384-9gVQ4dYFwwWSjIDZnLEWnxCjeSWFphJiwGPXr1jddIhOegiu1FwO5qRGvFXOdJZ4" crossorigin="anonymous">
  <link rel="stylesheet" href="stylesheets/style.css">

  <link rel="icon" type="image/x-icon" href="assets/img/favicon.ico" />

  <!-- Font Awesome icons (free version)-->
  <script src="https://use.fontawesome.com/releases/v5.15.1/js/all.js" crossorigin="anonymous"></script>

  <!-- Google fonts-->
  <link href="https://fonts.googleapis.com/css?family=Montserrat:400,700" rel="stylesheet" type="text/css" />
  <link href="https://fonts.googleapis.com/css?family=Droid+Serif:400,700,400italic,700italic" rel="stylesheet" type="text/css" />
  <link href="https://fonts.googleapis.com/css?family=Roboto+Slab:400,100,300,700" rel="stylesheet" type="text/css" />

  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>

  <!-- Core theme CSS (includes Bootstrap)-->
  <link href="css/styles.css" rel="stylesheet" />
  <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
</head>
<body>

  <div >
      <nav class="navbar navbar-expand-lg navbar-dark fixed-top" id="mainNav" style="background-color:#212529";>
        <div class="container">
            <a class="navbar-brand js-scroll-trigger" href="#page-top">GYReward</a>
            <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
                Menu
                <i class="fas fa-bars ml-1"></i>
            </button>
            <div class="collapse navbar-collapse" id="navbarResponsive">
                <ul class="navbar-nav text-uppercase ml-auto">
                    <li class="nav-item"><a class="nav-link js-scroll-trigger" href="/">Log Out</a></li>
                </ul>
            </div>
          </div>
      </nav>     

<div id="userPanel">
      <div class="jumbotron " id="headSection" style="display:block;">
        <div class="container">
  
                <div style="padding-right: 20px">
                  <h2>Account #: 111222333</h2>
                </div>
        </div>
      </div>
  
      <div class="container">
        <div class="row">
          <div class="col-md-12 ">
            <nav>
              <div class="nav nav-tabs nav-fill" id="nav-tab" role="tablist">
                <a class="nav-item nav-link active" id="earn-tab" data-toggle="tab" href="#earn" role="tab" aria-controls="earn" aria-selected="true">Earn Points</a>
                <a class="nav-item nav-link" id="redeem-tab" data-toggle="tab" href="#redeem" role="tab" aria-controls="redeem" aria-selected="false">Redeem Points</a>
                <a class="nav-item nav-link" id="transactions-tab" data-toggle="tab" href="#transactions" role="tab" aria-controls="transactions" aria-selected="false">Transactions</a>
                <a class="nav-item nav-link" id="nav-about-tab" data-toggle="tab" href="#profile" role="tab" aria-controls="profile" aria-selected="false">Profile</a>
              </div>
            </nav>
  
            <div class="tab-content py-4 px-4 px-sm-0" id="myTabContent">
              <div class="tab-pane fade show active" id="earn" role="tabpanel" aria-labelledby="earn-tab">
                <br>
                <h5> Earn Points through purchases </h5>
    
                <div class="earnPartnerId">
                  <p> <b>Choose Store Name to purchase from: </b></p>
                  <div class="earn-partner">
                    <div class="row">
                      <div class="col-md-3">
                        <p>
                          <select class="form-control">
                            <option disabled="" selected="" value="disabled">Loading...</option>
                          </select>
                        </p>
                      </div>
                      <div class="col-md-3"></div>
                      <div class="col-md-3"></div>
                      <div class="col-md-3">
                        <p>
                          <button class="btn2" id="btn1" data-toggle="modal" data-target=".bd-example-modal-lg" >
                            <i class="fas fa-cart-plus fa-3x" ></i>
                            <div class="circle"><b>{{ itemList.length }}</b></div>
                          </button>
                        </p>
                      </div>
                    </div>

                  </div>
                </div>
    
                <!-- <br>
                <p> <b> Purchase Deals </b></p>
     -->
                <!-- <p>
                  <button class="btn btn-primary earn-points-30">Purchase Item X for $20 and earn 30 points </button> <br />
                  <button class="btn btn-primary earn-points-80">Purchase Item Y for $50 and earn 80 points </button> <br />
                  <button class="btn btn-primary earn-points-200">Purchase Item Z for $100 and earn 200 points </button> <br />
                </p>
                -->
                <section class="page-section1 portfolio" id="itemSection">
                  <div class="container">
                      <!-- Portfolio Section Heading-->
                      <div class="text-center">
                          <h2 class="page-section-heading text-secondary mb-0 d-inline-block">Todays Deal</h2>
                      </div>
                      <br>
                    
                      <div class="row ">
                          <div class="col-md-3 ">
                            <h3 class="">
                              200 Points
                            </h3>
                            <div class="pitem mx-auto" data-toggle="modal">
                                  <div class="pitem-caption d-flex align-items-center justify-content-center h-100 w-100">
                                    <div class="pitem-caption-content text-center text-white">
                                      <button class="btn1" @click="addItem" :id="1" >
                                        <i class="fas fa-cart-plus fa-3x" ></i>
                                      </button>
                                    </div>
                                  </div>
                                  <img class="img-fluid" src="/img/strawberry.jpg" alt="Log Cabin"/>
                            </div> 
                            <div>
                              <button class="itemPointDetails">
                                Strawberry 2LB
                              </button>
                              
                            </div>
                          </div>
                          <div class="col-md-3 ">
                            <h3 class="">
                              200 Points
                            </h3>
                              <div class="pitem mx-auto" data-toggle="modal" >
                                  <div class="pitem-caption d-flex align-items-center justify-content-center h-100 w-100">
                                      <div class="pitem-caption-content text-center text-white">
                                        <button class="btn1" @click="addItem" :id="2" name="Pineapple" >
                                          <i class="fas fa-cart-plus fa-3x" ></i>
                                        </button>
                                      </div>
                                  </div>
                                  <img class="img-fluid" src="/img/pineapple3.jpg" alt="Tasty Cake"/>
                              </div>
                              <div>
                                <button class="itemPointDetails">
                                  Pineapple EA
                                </button>
                              </div>
                          </div>
                          <div class="col-md-3 ">
                            <h3 class="">
                              300 Points
                            </h3>  
                            <div class="pitem mx-auto" data-toggle="modal">
                                  <div class="pitem-caption d-flex align-items-center justify-content-center h-100 w-100">
                                    <div class="pitem-caption-content text-center text-white">
                                      <button class="btn1" @click="addItem" :id="3" name="Apple" >
                                        <i class="fas fa-cart-plus fa-3x" ></i>
                                      </button>
                                    </div>
                                  </div>
                                  <img class="img-fluid" src="/img/apple4.jpg" alt="Circus Tent"/>
                              </div>
                              <div>
                                <button class="itemPointDetails">
                                  Apple 3LB
                                </button>
                              </div>
                          </div>
                          <div class="col-md-3 ">
                            <h3 class="">
                              150 Points
                            </h3>  
                            <div class="pitem mx-auto" data-toggle="modal" >
                                <div class="pitem-caption d-flex align-items-center justify-content-center h-100 w-100">
                                  <div class="pitem-caption-content text-center text-white">
                                    <button class="btn1" @click="addItem" :id="4" name="Banana" >
                                      <i class="fas fa-cart-plus fa-3x" ></i>
                                    </button>
                                  </div>
                                </div>
                                <img class="img-fluid" src="/img/banana3.jpg" alt="Controller"/>
                              </div>
                              <div>
                                <button class="itemPointDetails">
                                  Banana 1LB
                                </button>
                              </div>
                          </div>
                      </div>  
                    
                      <br>
                      <br>
                      
                      <div class="row ">
                          <div class="col-md-3 ">
                            <h3 class="">
                              150 Points
                            </h3>
                            <div class="pitem mx-auto" data-toggle="modal" >
                                  <div class="pitem-caption d-flex align-items-center justify-content-center h-100 w-100">
                                    <div class="pitem-caption-content text-center text-white">
                                      <button class="btn1" @click="addItem" :id="5"  >
                                        <i class="fas fa-cart-plus fa-3x" ></i>
                                      </button>
                                    </div>
                                  </div>
                                  <img class="img-fluid" src="/img/lettuce.jpg" alt="Log Cabin"/>
                            </div>
                            <div>
                              <button class="itemPointDetails">
                                Lettuce EA
                              </button>
                              
                            </div>
                          </div>
                          <div class="col-md-3 ">
                            <h3 class="">
                              50 Points
                            </h3>
                              <div class="pitem mx-auto" data-toggle="modal" >
                                  <div class="pitem-caption d-flex align-items-center justify-content-center h-100 w-100">
                                      <div class="pitem-caption-content text-center text-white">
                                        <button class="btn1" @click="addItem" :id="6" >
                                          <i class="fas fa-cart-plus fa-3x" ></i>
                                        </button>
                                      </div>
                                  </div>
                                  <img class="img-fluid" src="/img/kale.webp" alt="Tasty Cake"/>
                              </div>
                              <div>
                                <button class="itemPointDetails">
                                  Kale EA
                                </button>
                              </div>
                          </div>
                          <div class="col-md-3 ">
                            <h3 class="">
                              70 Points
                            </h3>  
                            <div class="pitem mx-auto" data-toggle="modal" >
                                  <div class="pitem-caption d-flex align-items-center justify-content-center h-100 w-100">
                                    <div class="pitem-caption-content text-center text-white">
                                      <button class="btn1" @click="addItem" :id="7" >
                                        <i class="fas fa-cart-plus fa-3x" ></i>
                                      </button>
                                    </div>
                                  </div>
                                  <img class="img-fluid" src="/img/broccoli1.jpg" alt="Circus Tent"/>
                              </div>
                              <div>
                                <button class="itemPointDetails">
                                  Broccoli
                                </button>
                              </div>
                          </div>
                          <div class="col-md-3 ">
                            <h3 class="">
                              230 Points
                            </h3>  
                            <div class="pitem mx-auto" data-toggle="modal" >
                                <div class="pitem-caption d-flex align-items-center justify-content-center h-100 w-100">
                                  <div class="pitem-caption-content text-center text-white">
                                    <button class="btn1" @click="addItem" :id="8"  >
                                      <i class="fas fa-cart-plus fa-3x" ></i>
                                    </button>
                                  </div>
                                </div>
                                <img class="img-fluid" src="/img/bell_pepper3.jpg" alt="Controller"/>
                              </div>
                              <div>
                                <button class="itemPointDetails">
                                  Pepper
                                </button>
                              </div>
                          </div>
                      </div> 
                    
                      <br>
                      <br>

                      <div class="row ">
                          <div class="col-md-3 ">
                            <h3 class="">
                              400 Points
                            </h3>
                            <div class="pitem mx-auto" data-toggle="modal" >
                                  <div class="pitem-caption d-flex align-items-center justify-content-center h-100 w-100">
                                    <div class="pitem-caption-content text-center text-white">
                                      <button class="btn1" @click="addItem" :id="9"  >
                                        <i class="fas fa-cart-plus fa-3x" ></i>
                                      </button>
                                    </div>
                                  </div>
                                  <img class="img-fluid" src="/img/cake1.jpg" alt="Log Cabin"/>
                            </div>
                            <div>
                              <button class="itemPointDetails">
                                Cake ($10 or above)
                              </button>
                              
                            </div>
                          </div>
                          <div class="col-md-3 ">
                            <h3 class="">
                              800 Points
                            </h3>
                              <div class="pitem mx-auto" data-toggle="modal" >
                                  <div class="pitem-caption d-flex align-items-center justify-content-center h-100 w-100">
                                      <div class="pitem-caption-content text-center text-white">
                                        <button class="btn1" @click="addItem" :id="10" name="Pineapple" >
                                          <i class="fas fa-cart-plus fa-3x" ></i>
                                        </button>
                                      </div>
                                  </div>
                                  <img class="img-fluid" src="/img/winterCloths1.jpg" alt="Tasty Cake"/>
                              </div>
                              <div>
                                <button class="itemPointDetails">
                                  Winter Jacket
                                </button>
                              </div>
                          </div>
                          <div class="col-md-3 ">
                            <h3 class="">
                              200 Points
                            </h3>  
                            <div class="pitem mx-auto" data-toggle="modal">
                                  <div class="pitem-caption d-flex align-items-center justify-content-center h-100 w-100">
                                    <div class="pitem-caption-content text-center text-white">
                                      <button class="btn1" @click="addItem" :id="11" name="Apple" >
                                        <i class="fas fa-cart-plus fa-3x" ></i>
                                      </button>
                                    </div>
                                  </div>
                                  <img class="img-fluid" src="/img/coke1.jpg" alt="Circus Tent"/>
                              </div>
                              <div>
                                <button class="itemPointDetails">
                                  CokaCola 24 Pack
                                </button>
                              </div>
                          </div>
                          <div class="col-md-3 ">
                            <h3 class="">
                              450 Points
                            </h3>  
                            <div class="pitem mx-auto" data-toggle="modal" >
                                <div class="pitem-caption d-flex align-items-center justify-content-center h-100 w-100">
                                  <div class="pitem-caption-content text-center text-white">
                                    <button class="btn1" @click="addItem" :id="12" name="Banana" >
                                      <i class="fas fa-cart-plus fa-3x" ></i>
                                    </button>
                                  </div>
                                </div>
                                <img class="img-fluid" src="/img/papperT1.jpg" alt="Controller"/>
                              </div>
                              <div>
                                <button class="itemPointDetails">
                                  Paper Towels
                                </button>
                              </div>
                          </div>
                      </div> 
                      
                  </div>
                </section>

                <br>
                <br>
                <div class="row"   style="display: block;">
                  <div class="col-md-3">
                    You can Check Out from Here 
                  </div>
                  <div class="col-md-3">
                  <button class="itemPointDetails" data-toggle="modal" data-target=".bd-example-modal-lg">
                    Check Out
                  </button>
                  </div>
                </div>
                <br>

                <div class="modal fade bd-example-modal-lg" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
                  <div class="modal-dialog modal-dialog-centered modal-lg">
                    <div class="modal-content">

                      <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalLabel">Buy and Earn Reward</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                          <span aria-hidden="true">&times;</span>
                        </button>
                      </div>
                      <div class="modal-body">
                        <form>
                          <div class="form-group">
                            <label for="recipient-name" class="col-form-label">Item's In your List: </label>
                            <label for="recipient-name" class="col-form-label"><u>Banana</u></label>                            
                          </div>
                          <div class="form-group">
                            <b><h5>
                            <label for="recipient-name" class="col-form-label">Total Amount:  $15</label><br>
                            <label for="recipient-name" class="col-form-label">Earn Points: 500</label>
                            </b></h5>                            
                          </div>
                          

                          
                          <div class="row">
                            <div class="form-group col-md-6">
                              <label for="message-text" class="col-form-label">Cradit / Debit card Number:</label>
                              <input type="text" class="form-control" >
                            </div>
                            <div class="form-group col-md-6">
                              <label for="recipient-name" class="col-form-label">CVV number:</label>
                              <input type="password" class="form-control" id="cvvNo">
                            </div>
                          </div>
                        </form>
                      </div>
                      <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                        <button type="button" class="btn btn-primary">Send message</button>
                      </div>
                
                    </div>
                  </div>
                </div>
                

                <!-- <p><b> Purchase Item for specific price </b><br />
                  <b> $1 = 1 points </b></p>
                -->
                <!-- <div class="earnPoints">
                  <p> Enter price item
                    <input>
                  </p>
                </div>
    
                <button class="btn btn-secondary earn-points-transaction">Purchase and earn points</button> -->
                <hr class="featurette-divider">          
          </div>
          <div class="tab-pane fade" id="redeem" role="tabpanel" aria-labelledby="redeem-tab">
                <br>
                  <h5> Redeem Points on Deals </h5>
                  <br>
                  <div class="row">
                    <div class="col-md-3">
                      <div class="usePartnerId">
                        <p> <b>Choose the Partner to redeem points from: </b></p>
                        <div class="use-partner">
                          <p>
                            <select class="form-control">
                              <option disabled="" selected="" value="disabled">Loading...</option>
                            </select>
                          </p>
                        </div>
                      </div>
                    </div>
                    <div class="col-md-3"></div>
                    <div class="col-md-3"></div>
                    <div class="col-md-3">
                      <p>
                        <button class="btn2" id="btn1" data-toggle="modal" data-target="#redeemPoints">
                          <i class="fas fa-cart-plus fa-3x" ></i>
                          <div class="circle"><b>{{ RitemList.length }}</b></div>
                        </button>
                      </p>
                    </div>
                  </div>

                    <br>
                  <p> <b> Loyalty Program Deals </b></p>
                  <br>
                  
              <section class="page-section1 portfolio" id="">
              <div class="container">

                  <div class="row ">
                    <div class="col-md-3 ">
                      <h3 class="">
                        380 Points ($3.80)
                      </h3>
                      <div class="pitem mx-auto" data-toggle="modal" >
                            <div class="pitem-caption d-flex align-items-center justify-content-center h-100 w-100">
                              <div class="pitem-caption-content text-center text-white">
                                <button class="btn1" @click="addItemR" :id="1"  >
                                  <i class="fas fa-cart-plus fa-3x" ></i>
                                </button>
                              </div>
                            </div>
                            <img class="img-fluid" src="/img/lettuce.jpg" alt="Log Cabin"/>
                      </div>
                      <div>
                        <button class="itemPointDetails">
                          Lettuce EA
                        </button>
                        
                      </div>
                    </div>
                    <div class="col-md-3 ">
                      <h3 class="">
                        400 Points ($4.00)
                      </h3>
                        <div class="pitem mx-auto" data-toggle="modal" >
                            <div class="pitem-caption d-flex align-items-center justify-content-center h-100 w-100">
                                <div class="pitem-caption-content text-center text-white">
                                  <button class="btn1" @click="addItemR" :id="2" >
                                    <i class="fas fa-cart-plus fa-3x" ></i>
                                  </button>
                                </div>
                            </div>
                            <img class="img-fluid" src="/img/kale.webp" alt="Tasty Cake"/>
                        </div>
                        <div>
                          <button class="itemPointDetails">
                            Kale EA
                          </button>
                        </div>
                    </div>
                    <div class="col-md-3 ">
                      <h3 class="">
                        340 Points ($3.40)
                      </h3>  
                      <div class="pitem mx-auto" data-toggle="modal" >
                            <div class="pitem-caption d-flex align-items-center justify-content-center h-100 w-100">
                              <div class="pitem-caption-content text-center text-white">
                                <button class="btn1" @click="addItemR" :id="3" >
                                  <i class="fas fa-cart-plus fa-3x" ></i>
                                </button>
                              </div>
                            </div>
                            <img class="img-fluid" src="/img/broccoli1.jpg" alt="Circus Tent"/>
                        </div>
                        <div>
                          <button class="itemPointDetails">
                            Broccoli
                          </button>
                        </div>
                    </div>
                    <div class="col-md-3 ">
                      <h3 class="">
                        500 Points ($5.00)
                      </h3>  
                      <div class="pitem mx-auto" data-toggle="modal" >
                          <div class="pitem-caption d-flex align-items-center justify-content-center h-100 w-100">
                            <div class="pitem-caption-content text-center text-white">
                              <button class="btn1" @click="addItemR" :id="4"  >
                                <i class="fas fa-cart-plus fa-3x" ></i>
                              </button>
                            </div>
                          </div>
                          <img class="img-fluid" src="/img/bell_pepper3.jpg" alt="Controller"/>
                        </div>
                        <div>
                          <button class="itemPointDetails">
                            Pepper
                          </button>
                        </div>
                    </div>
                  </div> 
              </div>
              </section>

              <br>
                <div class="row"   style="display: block;">
                  <div class="col-md-3">
                    You can Redeem Points Here 
                  </div>
                  <div class="col-md-3">
                  <button class="itemPointDetails" data-toggle="modal" data-target="#redeemPoints">
                    Check Out - Redeem
                  </button>
                  </div>
                </div>
              <br>

                <div class="modal fade bd-example-modal-lg" tabindex="-1" id="redeemPoints" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
                  <div class="modal-dialog modal-dialog-centered modal-lg">
                    <div class="modal-content">

                      <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalLabel">Redeem Points and Buy Products</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                          <span aria-hidden="true">&times;</span>
                        </button>
                      </div>
                      <div class="modal-body">
                        <form>
                          <div class="form-group">
                            <label for="recipient-name" class="col-form-label">Item's In your List: </label>
                            <label for="recipient-name" class="col-form-label"><u>Banana</u></label>                            
                          </div>
                          <div class="form-group">
                            <b><h5>
                            <label for="recipient-name" class="col-form-label">Total Redeem Points: 700 Points</label><br>
                            </b></h5>                            
                          </div>
                          
                          <div class="row">
                            <div class="form-group col-md-6">
                              <label for="recipient-name" class="col-form-label">This item will get delivered ASPS:</label>
                            </div>
                            <div class="form-group col-md-6">
                            </div>
                          </div>
                        </form>
                      </div>
                      <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                        <button type="button" class="btn btn-primary">Redeem Now</button>
                      </div>
                
                    </div>
                  </div>
                </div>
                   <hr class="featurette-divider">
      
              </div>
              <div class="tab-pane fade" id="transactions" role="tabpanel" aria-labelledby="transactions-tab">
                <br>
                  <p>View transactions by transaction type </p>
                  <br>
                  <ul class="nav nav-tabs" id="transactionsTypeTab" role="tablist">
                    <li class="nav-item ">
                      <a class="nav-link active" id="points-allocated-tab" data-toggle="tab" href="#points-allocated" role="tab" aria-controls="points-allocated" aria-selected="true">Points Allocated</a>
                    </li>
                    <li class="nav-item ">
                      <a class="nav-link" id="points-redeemed-tab" data-toggle="tab" href="#points-redeemed" role="tab" aria-controls="points-redeemed" aria-selected="false">Points Redeemed</a>
                    </li>
                  </ul>
      
                  <div class="tab-content" id="myTabContent">
                    <div class="tab-pane fade show active" id="points-allocated" role="tabpanel" aria-labelledby="points-allocated-tab">
                      <br>
                      <h4>Points Earned Transactions</h4>
                      <br>
                      <div class="points-allocated-transactions"> </div>
                      <br><br>
                    </div>
      
                    <div class="tab-pane fade " id="points-redeemed" role="tabpanel" aria-labelledby="points-redeemed-tab">
                      <br>
                      <h4>Points Redeemed Transactions</h4>
                      <br>
                      <div class="points-redeemed-transactions"> </div>
                      <br><br>
                    </div>
                  </div>    
              </div>

              <div class="tab-pane fade" id="profile" role="tabpanel" aria-labelledby="profile-tab">
                <br>
                <h4>Name:Priyanka Patel</h4>
                <h4>Email: ppatel@gmail.com</h4>
                <h4>Points: 300</h4>
              </div>
              <hr class="featurette-divider">
            </div>
          
          </div>
        </div>
      </div>
</div>

</div>
  
  <div>
    <footer class="page-footer font-small bg-dark text-white pt-4">
      <div class="footer-copyright text-center py-3">© 2020 Reward Organization:
        <a href="https://gmail.com/"> GYreward@gmail.com</a>
      </div>
    </footer>
  </div>

  <script>
    new Vue({
      el: '#userPanel',
      data: {
        targetId:'',
        id: '',
        name: '',
        itemList: [],
        noOfItem: '',
        RitemList: [],
        RnoOfItem: ''
      },
      methods: {
        addItem:  function (event) {
          this.targetId = event.currentTarget.id;
          const item = { 
            itemID: this.targetId
          }
          this.itemList.push(item);
          console.log("itemList"+ this.itemList);
          console.log("Item added = "+ event.currentTarget.id);
          this.noOfItem = this.itemList.length;
        },
        addItemR: function (event) {
          this.targetId = event.currentTarget.id;
          const item = { 
            itemID: this.targetId
          }
          this.RitemList.push(item);
          console.log("itemList"+ this.targetId);
          console.log("itemList"+ this.RitemList);
          this.RnoOfItem = this.RitemList.length;
          this.targetId = '';
        }
      }
    })
  </script>

  <!-- Bootstrap core JS-->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/js/bootstrap.bundle.min.js"></script>
  <!-- Third party plugin JS-->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-easing/1.4.1/jquery.easing.min.js"></script>
  <!-- Contact form JS-->
  <script src="assets/mail/jqBootstrapValidation.js"></script>
  <script src="assets/mail/contact_me.js"></script>
  <!-- Core theme JS-->
  <script src="js/scripts.js"></script>

</body>

</html>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.0/umd/popper.min.js" integrity="sha384-cs/chFZiN24E4KMATLdqdvsezGxaGsi4hLGOzlXwp5UZB1LY//20VyM2taTB4QvJ" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.0/js/bootstrap.min.js" integrity="sha384-uefMccjFJAIv6A+rW+L4AHf99KvxDjWSu1z9VI8SKNVmz4sk7buKt/6v9KI65qnm" crossorigin="anonymous"></script>

